//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.2.02Beta
//Part Number: GW1N-LV1QN48C6/I5
//Created Time: Mon 02 10 03:44:26 2020

IO_LOC "KEY_n[1]" 14;
IO_PORT "KEY_n[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "PSRAM_SIO[0]" 22;
IO_PORT "PSRAM_SIO[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "PSRAM_SIO[1]" 23;
IO_PORT "PSRAM_SIO[1]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "PSRAM_SIO[2]" 24;
IO_PORT "PSRAM_SIO[2]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "PSRAM_SIO[3]" 21;
IO_PORT "PSRAM_SIO[3]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "XTAL_IN" 35;
IO_PORT "XTAL_IN" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "KEY_n[0]" 15;
IO_PORT "KEY_n[0]" IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "LED_R_n" 18;
IO_PORT "LED_R_n" IO_TYPE=LVCMOS33;
IO_LOC "LED_G_n" 17;
IO_PORT "LED_G_n" IO_TYPE=LVCMOS33;
IO_LOC "LED_B_n" 16;
IO_PORT "LED_B_n" IO_TYPE=LVCMOS33;
IO_LOC "PSRAM_CE_n" 19;
IO_PORT "PSRAM_CE_n" IO_TYPE=LVCMOS33;
IO_LOC "PSRAM_SCK" 20;
IO_PORT "PSRAM_SCK" IO_TYPE=LVCMOS33;
IO_LOC "TMDS_CLOCK" 39;
IO_PORT "TMDS_CLOCK" IO_TYPE=LVCMOS33D;
IO_LOC "TMDS_DATA0" 41;
IO_PORT "TMDS_DATA0" IO_TYPE=LVCMOS33D;
IO_LOC "TMDS_DATA1" 43;
IO_PORT "TMDS_DATA1" IO_TYPE=LVCMOS33D;
IO_LOC "TMDS_DATA2" 45;
IO_PORT "TMDS_DATA2" IO_TYPE=LVCMOS33D;
IO_LOC "PIO" 13;
IO_PORT "PIO" IO_TYPE=LVCMOS33;
